footer#footer1
div.more More ways to shop: Visit an ATC Panda, call 1-800-ATC Panda, or find a reseller
div.copy Copyright © 2017 Apple Inc. All rights reserved.
div.legal
    a(href="#") Privacy Policy
    a(href="#") Terms of Use
    a(href="#") Sales and Refunds
    a(href="#") Legal
    a(href="#") Site Map
script(src="../js/bundle.js")