doctype
html(lang="en")
    include ../partials/head.pug
    body
        nav.main-nav.movil
                    ul.list
                        li: a(href="#")
                            img(src="Menu")
                        li: a(href="#")
                            img(src="CompanyLogo")
                        li: a(href="#")
                            img(src="Bag")
        nav.main-nav.nomovil
                    ul.list
                        li: a(href="#")
                            img(src="CompanyLogo")
                        li: a(href="#") Home 
                        li: a(href="#") Contact
                        li: a(href="#") Places
                        li: a(href="#") Gallery
                        li: a(href="#")
                            img(src="img/search.png")
                        li: a(href="#")
                            img(src="img/bag.png")    
        section#section1.bg-odd
               
        section#section2.bg-even
                
            include ../partials/footer.pug